<div class="p-4">
    <div class="container">
        <h1>Accounts</h1>
        <p>This section can only be accessed by administrators.</p>
        <p><a routerLink="accounts">Manage Accounts</a></p>
    </div>
    <div class="container">
        <h1>Categories</h1>
        <p>This section can only be accessed by administrators.</p>
        <p><a routerLink="categories">Manage Categories</a></p>
    </div>
    <div class="container">
        <h1>Articles</h1>
        <p>This section can only be accessed by administrators.</p>
        <p><a routerLink="articles">Manage Articles</a></p>
    </div>
    <div class="container">
        <h1>Comments</h1>
        <p>This section can only be accessed by administrators.</p>
        <p><a routerLink="articles">Manage Comments</a></p>
    </div>
</div>