<nav class="admin-nav navbar navbar-expand navbar-light">
    <div class="navbar-nav">
        <a routerLink="accounts" routerLinkActive="active" class="nav-item nav-link">Accounts</a>
    </div>
    <div class="navbar-nav">
        <a routerLink="categories" routerLinkActive="active" class="nav-item nav-link">Categories</a>
    </div>
    <div class="navbar-nav">
        <a routerLink="articles" routerLinkActive="articles" class="nav-item nav-link">Articles</a>
    </div>
    <div class="navbar-nav">
        <a routerLink="comments" routerLinkActive="comments" class="nav-item nav-link">Comments</a>
    </div>
    <div class="navbar-nav">
        <a routerLink="authors" routerLinkActive="authors" class="nav-item nav-link">Authors</a>
    </div>
    <div class="navbar-nav">
        <a routerLink="books" routerLinkActive="books" class="nav-item nav-link">Books</a>
    </div>
</nav>