<div class="p-4">
    <div class="container">
<h1 *ngIf="isAddMode">Create Author</h1>
<h1 *ngIf="!isAddMode">Edit Author</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col-7">
            <label>First Name</label>
            <input type="text" formControlName="firstName" class="form-control" required maxlength="20" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">firstName is required</div>
            </div>
        </div>
        <div class="form-group col-7">
            <label>Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" required maxlength="20" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">lastName is required</div>
            </div>
        </div>
        <div class="form-group col-7">
            <label>Biography</label>
            <quill-editor formControlName="biography" required maxlength="1500" [ngClass]="{ 'is-invalid': submitted && f.biography.errors }"></quill-editor>
            <div *ngIf="submitted && f.biography.errors" class="invalid-feedback">
                <div *ngIf="f.biography.errors.required">Biography is required</div>
            </div>
        </div>


    <div class="form-group col-7">
        <label>Birth Date</label>
        <div class="input-group">
            <input class="form-control" placeholder="yyyy-MM-dd" formControlName="birthDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.birthDate.errors }"
                   name="dp" [(ngModel)]="modelDataPicker" ngbDatepicker #d="ngbDatepicker" [minDate]="{year: 1800, month: 1, day: 1}"
                   />
                <div *ngIf="submitted && f.birthDate.errors" class="invalid-feedback">
                    <div *ngIf="f.birthDate.errors.required">Birth Date time is required</div>
                </div>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
            </div>
          </div>
    </div>
</div>
    <div class="form-row">
        <div class="form-group col-7">
            <label>Icon author</label>
            <br>
            <img [src]="baseUrl + img" style="height: 200px;" class="img-thumbnail">
            <br>
            <input type='file'  (change)="onSelectImgFile($event)">
            <br>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <a routerLink="/controls/authors" class="btn btn-link">Cancel</a>
    </div>
</form>
</div>
</div>
