<div class="p-4">
    <div class="container">
<h1>Welcome to OnlineLib</h1>
<p>All Books</p>


<table class="table table-striped">
    <thead>
        <tr>
            <th style="width:30%">Name</th>
            <th style="width:30%">Summury</th>
            <th style="width:30%">Cover</th>
            <th style="width:10%"></th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books">
            <td>{{book.title}}</td>
            <td>{{book.summary}}</td>
            <td><img style="height: 40px;" src="{{book.cover}}"></td>
            <td style="white-space: nowrap">
                <a routerLink="/book/{{book.id}}" class="btn btn-sm btn-primary mr-1">Open</a>
            </td>
        </tr>
        <tr *ngIf="!books">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>

</table>

</div>
</div>