<div class="p-4">
    <div class="container">
<h1>Categories</h1>
<p>All categories</p>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Create Category</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width:30%">Name</th>
            <th style="width:30%">Description</th>
            <th style="width:30%">Icon</th>
            <th style="width:10%"></th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of categories">
            <td>{{category.name}}</td>
            <td>{{category.description}}</td>
            <td><img style="height: 40px;" src="{{baseUrl + category.icon}}"></td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{category.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                <button (click)="deleteCategory(category.id)" class="btn btn-sm btn-danger btn-delete-account" [disabled]="category.isDeleting">
                    <span *ngIf="category.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!category.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!categories">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>
</div>
</div>