<div class="p-4">
    <div class="container">
<h1>Articles</h1>
<p>All Articles</p>

<a routerLink="add" class="btn btn-sm btn-success mb-2">Create Article</a>
<!--Search-->
<div class="form-group has-search" >
    <span class="fa fa-search form-control-feedback"></span>
    <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchArticles">
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width:30%">Name</th>
            <th style="width:30%">Summury</th>
            <th style="width:30%">Cover</th>
            <th style="width:10%"></th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let article of articles | searchArticles: searchArticles | paginate: { id: 'articlePagination',
        itemsPerPage: perPage,
        currentPage: p,
        totalItems: totalLength }">
            <td>{{article.title}}</td>
            <td>{{article.summary}}</td>
            <td><img style="height: 40px;" src="{{baseUrl + article.cover}}"></td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{article.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                <button (click)="deleteCategory(article.id)" class="btn btn-sm btn-danger btn-delete-account" [disabled]="article.isDeleting">
                    <span *ngIf="article.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!article.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!articles">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>

</table>
<div>
    <pagination-controls id="articlePagination" maxSize = "5" directionLinks = "true" (pageChange)="p = $event"></pagination-controls>

</div>
</div>
</div>